
@{
    ViewBag.Title = "Index";
}

<h2>Call Back</h2>

Code: <strong>@ViewBag.Code</strong>


<br />
<br />


@if (ViewBag.Code != "none")
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Get token" />
    }
}


